$color1: white;
$color2: #EF7998;
$color3: #000000;   
$font:'Caveat', cursive;

*{
    box-sizing: border-box;
    font-family: $font;
}

body{
    margin: 0;
    padding: 0;
}

@mixin links-style {
    color: $color3;
    text-decoration: none;
    border: solid 2px $color3;
    border-radius: 3px;
    font-family: $font;
    font-size: 2rem;
    padding: .2rem .7rem;
    font-weight: bold;
    &:hover{
        transition: .4s ease;
        color: $color2;
        background-color: $color3;
    }
}

nav{
    background-color: $color1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    img{
        align-self: center;
    }
    .nav-options{
        a{
            text-decoration: none;
            font-size: 2rem ;
            font-family: 'Caveat', cursive;
            padding: 1rem;
            color: $color2;
            transition: .4s ease;
            &:hover{
                transition: .4s ease;
                color: $color3;
            }
        }
    }
    .number{
        display: flex;
        align-items: center;
        i{
            margin-right: .5rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .items-cart{
        display: flex;
        align-items: center;
        @include links-style;
        font-size: 1.3rem;
        font-weight: 100;
        border: solid 1px $color3;  
        cursor: pointer;  
        &:hover{
            color: $color1;
            background-color: $color2;
            border: solid 1px $color2;
        }
        i{
            margin-right: .5rem;
            font-size: 1rem;
        }
        p{
            margin: 0;
        }
    }
}
.main-cover{
    background-image: url(../img/headerBcg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    h1{
        color: $color1;
        font-size: 3.5rem;
        font-family: $font;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        strong{
            color: $color2;
            margin-left: 1rem;
            font-size: 5rem;
        }
    }
    a{
        @include links-style;
    }
    .itemsAdded{
        display: none;
        position: absolute;
        width: 400px;
        height: 100vh;
        top: 5rem;
        left: 70%;
        background-color: rgba(255, 255, 0, 0.4);
        .itemCart{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 1.3rem;
            &:hover{
                color: $color3;
            }
            i{
                transition: .4s ease;
                color: rgb(167, 45, 45); 
                &:hover{
                    transition: .4s ease;
                    transform: scale(120%);
                    color: $color3;
                    cursor: pointer;
                }
            }
        }
        .totalPrice{
            text-align: center;
            font-size: 1.6rem;
            h2{
                margin: 0;
            }
        }
        .pay{
            display: flex;
            justify-content: space-evenly;
            p{
                @include links-style;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 100;
            }
        }
    }
    .active{
        display: block !important;
    }
}

.about-us{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    margin: 3rem 4rem;
    div{
        width: auto;
        padding: 0 0 2rem 3rem;
        h2{
            font-size: 3rem;
            margin: 0;
            strong{
                font-size: 4rem;
                color: $color2;
            }
        }
        p{
            font-size: 1.3rem;
            padding: 0 8rem 0 0;
        }
        a{
            @include links-style;
            font-size: 1.3rem;
            font-weight: 900;
        }
    }
    img{
        width: 100%;
        height: auto;
        transition: .4s ease;
        &:hover{
            transition: .4s ease;
            transform: scale(95%);
        }
    }
}

.store{
    background-color: rgba(128, 128, 128, 0.1);
    padding: 1.5rem 0;
    h2{
        text-align: center;
        font-size: 3rem;
        margin: 0 0 1rem 0;
        strong{
            color: $color2;
            font-size: 4rem;
        }
    }
    .item-class{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        a{
            @include links-style;
            font-size: 1.3rem;
            font-weight: 400;
            margin: .5rem 1.5rem;
        }
    }
    .products{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        padding: 2rem 5rem;
        gap: 2rem;
        .item{
            background-color: $color1;
            img{
                width: 100%;
                height: auto;
                transition: .4s ease;
                &:hover{
                    cursor: pointer;
                    transform: scale(105%);
                    transition: all .4s ease-in-out;
                }
            }
            .item-details{
                display: flex;
                font-size: 1.5rem;
                align-items: center;
                margin: 0;
                justify-content: space-between;
                h3{
                    font-weight: 100;
                    margin: 1rem 0 1rem 1.5rem;
                }
                p{
                    margin: 1rem 1.5rem 1rem 0;
                    font-weight: bold;
                }
            }
            h4{
                display: flex;
                width: auto;
                align-items: center;
                @include links-style;
                font-size: 1.3rem;
                margin: 0 1rem 1rem 1rem;
                cursor: pointer;
                i{
                    margin-right: .4rem;
                }
            }
        }
    }
}